@import "font.css"; 
*{
    margin: 0;
    font: 20px 'Product Sans Regular';
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; 
    font: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 1; /* Firefox */
}

.titulo{
    margin: auto;
    border: 0px solid black;
    width: 100%;
    height: 60px;
    background-color: #3dc4ac;
    color: white;
}
#text{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    padding: 10px;
    padding-left:30px;
    font-size: 30px;
    border: 0px solid black;
}



.search{
    float: right;
    text-align: center;
    /* border: 1px solid #eee; */
    height: 60px;
    margin-right: 10px;
    width: 380px;
}
.search-container{
    /* border: 1px solid #000; */
    height: 40px;
    padding: 10px 0;
}

.search input[type=search]{ 
    position: relative;
    height: 40px;
    float: left;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0 10px;

}

.search input[type=search]:focus{ 
    outline: none;
    border: 1px solid #aaa;
}
.search button{
    position: relative;
    float: left;
    border: none;
    color: white;
    background: #319e8a;
    cursor: pointer;
    height: 40px;
}
.search button:hover{
    background: #21695c;
}

